*.d
*.o
*~

*.moc.cpp
*.rcc.cpp
Ui_*.h

*.promake

/bin/*
!bin/*.cfg

/preprocessing/logtosvg/logtosvg
/preprocessing/svgreader/svgreader

/data/PositionSVG/*

/image_processing_tests/im_test
/image_precessing_tests/*.png

DerWeg.layout

.metadata/*
